body, html {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    justify-content:space-between;
    
    align-items: center;
    background-color: #161616;
    
    margin-top:30px;
    border-radius: 30px;

}

.banner-image{

    
    
}


.button{
    text-decoration: none;
    text-align: center;
    padding: 25px 16px;
    
    width:30%;
    background-color: #DD0000;
    color: white;
    border-radius:10px;
   
}




.navbar{
    padding-top:20px;
    padding-bottom:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    row-gap: 2%;
    align-items:center;
    background-color:#161616;
    width: 312px;
    height: 312px;
    
    border-radius:10px;


}


.button-active{
    text-decoration: none;
    text-align: center;
    padding: 25px;
    width:187px;
    height:20px;
    background-color: #DD0000;
    color: white;
    border-radius:10px;
   
}

.button-inactive{
    text-decoration: none;
    text-align: center;
    padding: 25px;
    width:187px;
    height:20px;
    background-color: white;
    color: black;
    border-radius:10px;
   
}


.blog{

    display: flex;
    flex-direction: column;
    background-color:#E8E8E8;
    width:312px; 
    height:362px;
    
}

.upcoming{


    display: flex;
    flex-direction: row;
    background-color:#E8E8E8;

    


}

.transfer-button{ 

 margin-top:20px;
 margin-left: 20px;
 border:1px solid rgba(22,22,22,1);
 text-decoration: none;
 color: rgba(22,22,22,1);
 border-radius:5px;
 text-align: center;
  width: 100px;
  height: 32px;

}

.icon-text{ 

    color: rgba(22,22,22,1);
    margin-left:10px;
    text-decoration: none;
   
   }

.blog p{ 
    margin-top:20px;
    margin-left: 20px;
    color: rgba(22,22,22,1);
    font-family: Poppins;
    font-weight: 600;
    font-size:18px;
    font-weight: 27px;
   
   }


.icon-text{


font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: rgba(22, 22, 22, 0.7);
}





.main-content{
    display:flex;

    margin-top:163px;
}

.header-text{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width:50%;
    
    
}

.grid-container{

    margin-left: 90px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;


}

.footer{
    margin-top:100px;
    display:flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #161616;
    width:100%;
   

    

}
.footer-text{
    text-decoration:none;
    font-size:18px;
    font-family: Poppins;
    font-weight: SemiBold;
    color:white;
}
.footer-content{
    
   
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    
    

}






@media only screen and (max-width: 688px) {

    .main-content{

        flex-direction: column;
        justify-content: center;

        align-items: center;
    }

    .grid-container{

        margin-left: 90px;
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        row-gap: 10px;
        column-gap: 10px;
        margin-left:0;
        margin-top:50px;
    
    
    }

    .header{
    
        flex-direction: column;
        
    }

    .banner-image{

        width:50%;
    }
    .header-text{


        width:50%;
    }

    .footer-content{

        flex-direction: row;
    }


}


@media only screen and (min-width: 688px) and (max-width: 992px){
    
    .main-content{
        flex-direction: column;
        justify-content:center;
        align-items: center;

    }
    .grid-container{

        grid-template-columns:repeat(2, 1fr);
        margin-top: 50px;
        margin-left: 0px;
    }

    .footer-content{

        flex-direction: column;
    }


}